a{
    color: white !important;
}

.text-white{
    color: white !important;
}
.navbarAlinear {
    width: 100%;
    text-align: center;
   
}
.fondoPeques{
    width: 100% !important;
    background-color: red;
    background-image: url('../../assets/img/bannerFundacion.png');
}
.li-nav{
    float: none;
    display: inline-block;
}