<section>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img style="width: 100% !important;
                background-repeat : no-repeat;
                background-size: cover;
                height: 500px;" src="https://image.freepik.com/free-vector/modern-productivity-concept-with-flat-design_23-2147976974.jpg" />

            </div>
            <div class="col-sm-6 center-text">
                <div class="row">
                    <h3>NUESTRA HISTORIA</h3>
                    <p>
                        La fundación Distrito cultural es una entidad sin ánimo de lucro que se dedica a la realización de actividades
                        culturales, sociales, ambientales y deportivas, enfocadas hacia la comunidad joven (4-28 años) del barrio
                        Alfonso Bonilla Aragón ubicado en la Comuna 14 del municipio Santiago de Cali.
                    </p>
                </div>
                
            </div>
        </div>

    </div>
   
</section>