<div class="container-fluid fondoPeques">
  <div class="container-fluid fondoPeques"></div>
  <br />
  <div class="container-fluid">
    <a href="" routerLink="nosotros" style="padding: 50px;">
      <mat-grid-list
        style="background-color: #dc3545 !important;"
        cols="4"
        rowHeight="100px"
      >
        <mat-grid-tile [colspan]="3" [rowspan]="1"
          ><button
            mat-button
            color="warn"
            style="color: white; font-size: 30px;"
          >
            ¿Quiénes somos?
          </button></mat-grid-tile
        >

        <mat-grid-tile
          ><span class="material-icons white-a">
            arrow_forward
          </span></mat-grid-tile
        >
      </mat-grid-list>
    </a>
  </div>
  <br />

  <div class="container-fluid" style="text-align: center;">
    <mat-grid-list cols="2" [style.background]="''" rowHeight="300px">
      <mat-grid-tile>
        <img
          src="../../../assets/img/fotoRecreacion.jpg"
          alt="LogoDistrito by DIANA MARCELA GOMEZ CAICEDO on 500px.com"
        />
      </mat-grid-tile>

      <mat-grid-tile>
        <p style="width: 70%;">
          Nos encargamos de ocupar el tiempo libre de los niños para incentivar
          a un mejor futuro.
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
   <br>

  <!-- datos desde firebase -->
  
  <div *ngFor="let item of eventos">
 
    <!-- <div class="card-columns" style="width: 18rem;display: inline-block;">
      <img class="card-img-top" src="{{item.imagenes}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <p class="card-text">{{item.descripcion}}</p>
        <p class="card-text"> <strong>Fecha del Evento</strong> {{ item.fecha.seconds * 1000 |  date: 'yyyy/MM/dd'}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="{{item.imagenes}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.nombre}}</h5>
          <p class="card-text">{{item.descripcion}}</p>
          <p class="card-text"> <strong>Fecha del Evento</strong> {{ item.fecha.seconds * 1000 |  date: 'yyyy/MM/dd'}}</p>

        </div>
      </div>
    </div>
      <!-- <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer">
            <small>
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="..." alt="Card image">
      </div>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div> -->
    

    <!-- <div class="container" style="text-align: center;" >
        <mat-grid-list cols="2" [style.background]="''" rowHeight="300px">
        <mat-grid-tile>
            <img
            src="{{item.imagenes}}"
            alt="LogoDistrito by DIANA MARCELA GOMEZ CAICEDO on 500px.com"
            />
        </mat-grid-tile>

        <mat-grid-tile>
            <p style="width: 70%;">
                <strong>{{item.nombre}} </strong>
                <br>
                {{item.descripcion}}
            </p>
            <p>
                <strong>Fecha del Evento</strong>
                {{ item.fecha.seconds * 1000 |  date: 'yyyy/MM/dd'}}
            </p>
        </mat-grid-tile>
        </mat-grid-list>
    </div> -->
    <br>
</div>
</div>

<!--<img src='https://drscdn.500px.org/photo/1013378003/m%3D900/v2?sig=a85f9d871e2886023a58c9d65ea8682a6b2f5dcf80abb920ef4b897d9f305d19' 
    alt='fondoPeques by DIANA MARCELA GOMEZ CAICEDO on 500px.com'>-->

<br />
<!--<img src='https://drscdn.500px.org/photo/1013378003/m%3D900/v2?sig=a85f9d871e2886023a58c9d65ea8682a6b2f5dcf80abb920ef4b897d9f305d19' alt='fondoPeques by DIANA MARCELA GOMEZ CAICEDO on 500px.com'>-->

<script type="text/javascript" src="https://500px.com/embed.js"></script>
<script type="text/javascript" src="../../css/styles.css"></script>
