<script type='text/javascript' src='../../css/styles.css'></script>
<nav class="navbarAlinear navbar navbar-expand-lg is-danger bg-danger">
    <div class="container">
        <a class="text-white navbar-brand" routerLink="">Distrito Cultural</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
              
                <li class="li-nav pull-right nav-item dropdown">
                    <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Acerca de 
                    </a>
                    <div class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
                        <a class="text-white dropdown-item" routerLink='historia'>Historia</a>
                        <a class="text-white dropdown-item" routerLink='nosotros'>Misión y Visión</a>
                        <a class="text-white dropdown-item" routerLink='donaciones'>Donaciones</a>
                    </div>
                </li>
    
                <li class="li-nav nav-item pull-right" style="float: none;
                display: inline-block;" *ngIf="!logged">
                    <a class="text-white nav-link " routerLink='login' tabindex="-1" aria-disabled="false" >{{login}}</a>
                </li>

                <li class="li-nav pull-right nav-item dropdown" *ngIf="logged">
                    <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{login}}
                    </a>
                    <div class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
                        <a class="text-white dropdown-item" routerLink='perfil'>Perfil</a>
                        <a class="text-white dropdown-item" (click)="salir()">salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="">
        <router-outlet></router-outlet>
    </div>
</div>

