<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <div class="card border-0">

                    <div class="card-body bg-transparent">

                        <form>

                            <fieldset class="form-group">
                                <legend class="col-form-legend ">Iniciar sesión</legend>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="correo" id="correo"
                                        aria-describedby="emailHelpId" placeholder="correo">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="contraseña" id="contraseña"
                                        aria-describedby="helpId" placeholder="contraseña">
                                </div>
                            </fieldset>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="submit" style="width:100%; border-radius: 15px;background-color: white; border: 3px solid #dc3545; color: #dc3545" class="btn  large">Iniciar sesión</button>
                                </div>
                            </div>
                        </form>

                        <h5>
                            También puedes iniciar sesión con
                        </h5>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button type="submit" style="width: 100%;" class="btn btn-primary">
                                    <span>
                                         <i class="fa fa-facebook" aria-hidden="true"> Facebook</i>
                                    </span>
                                </button>
                                
                                
                            </div>
                            <div class="col-sm-6">
                                <button type="button" style="width: 100%;background-color: #d93025;color: white;" class="btn btn-success" (click)="login()">
                                    <span>
                                        <i class="fa fa-google" aria-hidden="true"> Google </i>
                                    </span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group row">
                            
                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <img src="https://image.freepik.com/free-vector/mobile-login-concept-illustration_114360-135.jpg" />
        </div>
    </div>
</div>