/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/font-awesome/css/font-awesome.css');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* a{
    color: white !important;
} */

/* .text-white{
    color: white !important;
}

/*
styles propios
*/

.navbarAlinear {
    width: 100%;
    text-align: center;
   
}
.white-a{
    color: white !important;
}
.fondoPeques{
    width: 100% !important;
    background-repeat : no-repeat;
    background-size: cover;
    height: 500px;
    background-image: url('/assets/img/bannerFundacion.png');
}
.li-nav{
    float: none;
    display: inline-block;
}
