/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/font-awesome/css/font-awesome.css');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    color: white !important;
}

.text-white{
    color: white !important;
}
.navbarAlinear {
    width: 100%;
    text-align: center;
   
}
.fondoPeques{
    width: 100% !important;
    background-repeat : no-repeat;
    background-size: cover;
    height: 500px;
    background-image: url("https://scontent.fclo9-1.fna.fbcdn.net/v/t1.0-9/72738238_2868735006478910_5488347839211765760_n.png?_nc_cat=104&_nc_sid=e3f864&_nc_ohc=V5lUBkFetYAAX_-iiF0&_nc_ht=scontent.fclo9-1.fna&oh=6317acd928ca746aaecade6238a103bc&oe=5EABEE8F");
}
.li-nav{
    float: none;
    display: inline-block;
}
