<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Misión
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, tempore autem? Quibusdam harum ex eligendi repellendus aliquid impedit consequatur deleniti, beatae laudantium quasi nostrum officiis veniam, iure molestias! Tempore, quae!
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Visión
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, in repellat, odit quidem asperiores possimus a quos, sapiente nulla nam aspernatur velit delectus doloribus laudantium fugiat error reprehenderit eos sit.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Valores
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, in repellat, odit quidem asperiores possimus a quos,
        sapiente nulla nam aspernatur velit delectus doloribus laudantium fugiat error reprehenderit eos sit.
    </mat-expansion-panel>
</mat-accordion>
