<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.freepik.com/free-photo/diverse-business-team-stacking-hands_53876-25151.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.freepik.com/free-photo/business-strategy-success-target-goals_1421-33.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.freepik.com/free-photo/businessman-hand-holding-wooden-cube-block-with-value-business-word-mission-vision-core-values-concept_42256-1423.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Valores</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Misión
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, tempore autem? Quibusdam harum ex eligendi repellendus aliquid impedit consequatur deleniti, beatae laudantium quasi nostrum officiis veniam, iure molestias! Tempore, quae!
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Visión
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, in repellat, odit quidem asperiores possimus a quos, sapiente nulla nam aspernatur velit delectus doloribus laudantium fugiat error reprehenderit eos sit.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Valores
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, in repellat, odit quidem asperiores possimus a quos,
        sapiente nulla nam aspernatur velit delectus doloribus laudantium fugiat error reprehenderit eos sit.
    </mat-expansion-panel>
</mat-accordion> -->